
lab05/dayNumber/someProgram/someProgram.csproj
lab05/dayNumber/someProgram/Properties/AssemblyInfo.cs
lab05/dayNumber/someProgram/Program.cs
lab05/dayNumber/someProgram/obj/Release/someProgram.csproj.CoreCompileInputs.cache
lab05/dayNumber/someProgram/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
lab05/dayNumber/someProgram/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
lab05/dayNumber/someProgram/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
lab05/dayNumber/someProgram/obj/Debug/someProgram.pdb
lab05/dayNumber/someProgram/obj/Debug/someProgram.exe
lab05/dayNumber/someProgram/obj/Debug/someProgram.csprojAssemblyReference.cache
lab05/dayNumber/someProgram/obj/Debug/someProgram.csproj.FileListAbsolute.txt
lab05/dayNumber/someProgram/obj/Debug/someProgram.csproj.CoreCompileInputs.cache
lab05/dayNumber/someProgram/obj/Debug/someProgram.csproj.CopyComplete
lab05/dayNumber/someProgram/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
lab05/dayNumber/someProgram/bin/Debug/someProgram.pdb
lab05/dayNumber/someProgram/bin/Debug/someProgram.exe.config
lab05/dayNumber/someProgram/bin/Debug/someProgram.exe
lab05/dayNumber/someProgram/bin/Debug/someLig.pdb
lab05/dayNumber/someProgram/bin/Debug/someLig.dll
lab05/dayNumber/someProgram/App.config
lab05/dayNumber/someLib/someLib.csproj
lab05/dayNumber/someLib/someClass.cs
lab05/dayNumber/someLib/Properties/AssemblyInfo.cs
lab05/dayNumber/someLib/obj/Release/someLib.csproj.CoreCompileInputs.cache
lab05/dayNumber/someLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
lab05/dayNumber/someLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
lab05/dayNumber/someLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
lab05/dayNumber/someLib/obj/Debug/someLig.pdb
lab05/dayNumber/someLib/obj/Debug/someLig.dll
lab05/dayNumber/someLib/obj/Debug/someLib.csprojAssemblyReference.cache
lab05/dayNumber/someLib/obj/Debug/someLib.csproj.FileListAbsolute.txt
lab05/dayNumber/someLib/obj/Debug/someLib.csproj.CoreCompileInputs.cache
lab05/dayNumber/someLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
lab05/dayNumber/someLib/obj/Debug/dayNumber.csprojAssemblyReference.cache
lab05/dayNumber/someLib/obj/Debug/dayNumber.csproj.FileListAbsolute.txt
lab05/dayNumber/someLib/obj/Debug/dayNumber.csproj.CoreCompileInputs.cache
lab05/dayNumber/someLib/bin/Debug/someLig.pdb
lab05/dayNumber/someLib/bin/Debug/someLig.dll
lab05/dayNumber/myTest/someTests.cs
lab05/dayNumber/myTest/obj/Release/netcoreapp2.1/myTest.Program.cs
lab05/dayNumber/myTest/obj/Release/netcoreapp2.1/myTest.csproj.CoreCompileInputs.cache
lab05/dayNumber/myTest/obj/Release/netcoreapp2.1/myTest.assets.cache
lab05/dayNumber/myTest/obj/Release/netcoreapp2.1/myTest.AssemblyInfoInputs.cache
lab05/dayNumber/myTest/obj/Release/netcoreapp2.1/myTest.AssemblyInfo.cs
lab05/dayNumber/myTest/obj/project.assets.json
lab05/dayNumber/myTest/obj/myTest.csproj.nuget.g.targets
lab05/dayNumber/myTest/obj/myTest.csproj.nuget.g.props
lab05/dayNumber/myTest/obj/myTest.csproj.nuget.cache
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.Program.cs
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.pdb
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.dll
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.csprojAssemblyReference.cache
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.csproj.FileListAbsolute.txt
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.csproj.CoreCompileInputs.cache
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.csproj.CopyComplete
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.assets.cache
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.AssemblyInfoInputs.cache
lab05/dayNumber/myTest/obj/Debug/netcoreapp2.1/myTest.AssemblyInfo.cs
lab05/dayNumber/myTest/myTest.csproj
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/someLig.pdb
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/someLig.dll
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/myTest.runtimeconfig.json
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/myTest.runtimeconfig.dev.json
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/myTest.pdb
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/myTest.dll
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/myTest.deps.json
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
lab05/dayNumber/myTest/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
lab05/dayNumber/dayNumber.sln
lab05/dayNumber/.vs/dayNumber/v15/Server/sqlite3/storage.ide-wal
lab05/dayNumber/.vs/dayNumber/v15/Server/sqlite3/storage.ide-shm
lab05/dayNumber/.vs/dayNumber/v15/Server/sqlite3/storage.ide
lab05/dayNumber/.vs/dayNumber/v15/Server/sqlite3/db.lock
lab05/dayNumber/.vs/dayNumber/v15/.suo
lab05/dayNumber/.vs/dayNumber/DesignTimeBuild/.dtbcache
