@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Автобусное предприятие</title>
</head>
<body>
    <div>
        <h3>Список автобусов</h3>
        <table>
            <tr>
                <td><p>Модель</p></td>
                <td><p>Марка</p></td>
                <td><p>Расход</p></td>
            </tr>
            @foreach (var b in ViewBag.Buses)
            {
            <tr>
                <td><p>@b.marka</p></td>
                <td><p>@b.model</p></td>
                <td><p>@b.fuel</p></td>
                <td><p><a href="/Home/Request/@b.id">Заказать</a></p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>