
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заявка</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.busID" name="busID"/>
                <p>Введите свое имя:</p> <input type="text" name="client" />
                <p>Введите адрес электронной почты</p><input type="text" name="adress" />
                <p><input type="submit" value="Отправить" /></p>
        </form>
    </div>
</body>
</html>

