@model IEnumerable<BusCompany.Models.Waybill>
@{
    ViewBag.Title = "WaybillsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Автобусное предприятие</title>
</head>
<body>
    <div>
        <h3>Список путевых листов</h3>
        <table>
            <tr>
                <td><p>Дата оформления</p></td>
                <td><p>Маршрут</p></td>
                <td><p>Дата выезда</p></td>
                <td><p>Дата возвращения</p></td>
            </tr>
            @foreach (var m in Model)
            {
            <tr>
                <td><p>@Html.DisplayFor(model => m.date)</p></td>
                <td><p>@Html.DisplayFor(model => m.path)</p></td>
                <td><p>@Html.DisplayFor(model => m.departureDate)</p></td>
                <td><p>@Html.DisplayFor(model => m.returnDate)</p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>

